@model Car

<div class="col-lg-4 mb-4">
    <div class="card p-0 h-100">
        <img class="rounded m-1" src="@Model.Img" alt="@Model.Name" />

        <div class="card-body border-top">
            <h2 class="mb-1">@Model.Name</h2>

            <p class="mb-2">
                @Model.ShortDesc <u>
                    <a style="color: black;" href=@(Model.Category.CategoryName == "Gasoline Car" ? "/Cars/List/gasoline" : "/Cars/List/electric")>@Model.Category.CategoryName</a>
                </u>
            </p>
            <div>@Model.LongDesc</div>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-around">
                <p><b><abbr title="The stock is updated after the order is placed" class="initialism">Available</abbr>:</b> @Model.Stock @(Model.Stock == 1 ? "car" : "cars")</p>
                <p><b>Price:</b> @Model.Price.ToString("C", CultureInfo.CreateSpecificCulture("eu-ES"))</p>
            </div>
            <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="Add" asp-route-Id="@Model.Id">Add to Cart</a></p>
        </div>
    </div>
</div>